<h1>Users</h1>

<table class="table">
  <thead>
    <tr>
      <th>User</th>
      <th>Created projects</th>
    </tr>
  </thead>
  <tbody>
    <%= for user <- @users do %>
      <tr>
        <td><%= link(user.username, to: user_path(@conn, :show, user.id)) %></td>
        <td><%= Backlash.User.total_projects_created(user.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
