<header>
  <nav class="top-bar">
    <div id="responsive-menu">
      <div class="top-bar-left">

        <ul class="menu">
          <div class="top-bar-title">
            <li><%= link("Home", to: "/") %></li>
          </div>
          <li><%= link("Projects", to: "/projects") %></li>
          <li><%= link("Setups", to: "/setups") %></li>
        </ul>
      </div>

      <div class="top-bar-right">
      </div>
    </div>
  </nav>
</header>
