<header>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li><%= link("Projects", to: project_path(@conn, :index)) %></li>
        <li><%= link("Setups", to: setup_path(@conn, :index)) %></li>
        <li><%= link("Target", to: target_path(@conn, :index)) %></li>
      </ul>
    </div>
  </nav>
</header>
