<div class="projects-index-header">
  <h1 class="page-title">Projects</h1>
</div>

<div class="projects-index-body">
  <%= for project <- @projects do %>
    <%= render "project.html", project: project, conn: @conn, current_user: @current_user %>
  <% end %>
</div>

<div class="projects-index-footer">
  <%= link("New Project", to: project_path(@conn, :new), class: "hollow button") %>
</div>
