<div class="project-show">
  <h1><%= @project.name %> Home</h1>

  <%= render "project.html", project: @project, conn: @conn, current_user: @current_user %>

  <%= for stp <- @project.setups do %>
    <%= render Backlash.SetupView, "setup.html", stp: stp, conn: @conn %>
  <% end %>
</div>
