<div class="project-show">
  <h1><%= @project.name %> Home</h1>

  <%= render "project.html", project: @project, conn: @conn, current_user: @current_user %>

  <%= render "setups_for_project.html", project: @project, conn: @conn %>
</div>
