.project-footer .popover {
  color: black;
  font-family: Cantarell;
}

.project-footer a span.icon-text {
  font-family: Cantarell;
}

.project {
  margin-bottom: 40px;
}

.thumbnail .project-logo {
  max-width: 120px;
  min-width: 120px;
  max-height: 120px;
  min-height: 120px;
}

.project-show .thumbnail .target-logo {
  max-width: 150px;
  min-width: 150px;
  max-height: 150px;
  min-height: 150px;
}

.popover {
  width: 250%;
}

.projects-ranking.item {
  padding: 10px;
}

