<h1>Setup</h1>

<div class="row">
  <%= for stp <- @setups do %>
    <%= render "setup.html", conn: @conn, stp: stp %>
  <% end %>
</div>

<%= link("New Setup", to: setup_path(@conn, :new), class: "hollow button") %>

