<h1><%= @setup.name %></h1>

<h1>Related Projects</h1>

<table>
  <thead>
    <tr>
      <th>Project</th>
    </tr>
  </thead>

  <tbody>
    <%= for proj <- @setup.projects do %>
      <tr>
        <td><%= link(proj.name, to: project_path(@conn, :show, proj.id)) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

